<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>

<p><span>email: </span><%= @user.email %></p> <!-- 追加 -->
<p><span>ツイート内容: </span><%= @tweet.body %></p>
<% @comments.each do |comment| %>
  <hr>
  <p><span>Comment: </span><%= comment.body %></p>
<% end %>

<% if user_signed_in? %>
  <%= form_for [@tweet, @comment] do |f| %>
    <p>
      <%= f.label :body,"コメント投稿" %>
      <%= f.text_field :body %>
    </p>
    <%= f.submit %>
    
    <!-- ここを追加 -->
    <% if current_user != @user %>
        <% if @user.followed_by?(current_user) %>
            <p><%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %></p>
        <% else %>
            <p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
        <% end %>
    <% end %>
    <!-- ここまで -->
  <% end %>
<% end %>